
body {
    background-color: whitesmoke;
}

div .card-header {
    font-size: medium;
}

.margin-top {
    margin-top: 50px;
}

.lista-footer {
    color: white;
}

.margin-direitos {
    margin-top: 45px;
}

.direitos {
    margin-bottom: 60px;
}

.tamanho {
    height: 100px;
}

.img-caroussel {
    height: 620px;
}

.text-slider {
    color: white;
    background-color: rgba(30, 30, 30, 0.56);
    border-radius: 5px;
}

#estatisticas {
    text-align: center;
    padding: 5em 0;
  }

  .title-center {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }

  .p-center {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  .stats-box {
    display: inline-block;
    text-align: center;
    width: 24.5%;
    margin-top: 80px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 100px;
  }

  .stats-box:nth-child(2) {
    border: none;
  }

  .stats-box:nth-child(3) {
    border-right: none;
  }

  .stats-qtd {
    font-size: 36px;
  }

  .stats-text {
    font-size: 20px;
  }

  .wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
