
body {
    background-color: whitesmoke;
}

.lista-footer {
    color: white;
}

.margin-direitos {
    margin-top: 45px;
}

.direitos {
    margin-bottom: 60px;
}

.tamanho {
    height: 100px;
}


